.vscode/c_cpp_properties.json
.vscode/launch.json
.vscode/settings.json
.vscode/tasks.json
.vscode/c_cpp_properties.json
output/CartasSuperTrunfo
media.c
.vscode/tasks.json
/.vscode
.vscode/tasks.json
.vscode/tasks.json
CartasSuperTrunfo.exe
